* {
  margin:0;
  padding:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(155,81,224,1) 100%); */
  max-width:100%;
  min-height: 100%;
  background: rgb(47,138,144);
background: linear-gradient(180deg, rgba(47,138,144,1) 0%, rgba(155,81,224,1) 20%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
